.container-account{
  min-width: 90vw;
}

.booking-request {
  color: black;
}

.date{
  color: grey;
  padding-left: 135px;
}

.avenger {
  padding-left: 180px;
}

.text-decoration-none {
  color: black;
  align-items: center;
}
// font-family: "Work Sans", "Helvetica", "sans-serif";

