.container-show {
  display: block;
  justify-content: space-between;
  margin: 20px;
  padding-bottom: 200px;
}

.avenger-pic {
  margin: 100px;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
}
