.container-show {
  display: block;
  justify-content: space-between;
  margin: 20px;
}
.showcard {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 0 auto;

  .avenger-pic {
  height: 400px;
  width: 500px;
  object-fit: cover;
}
  .desc {
    font-size: 20px ;
  }
}

.showcard-location {
  font-family: Open Sans;
  font-style: italic;
  font-size: 1rem ;
  color: grey;
}

  .fa-map-marker-alt {
    font-size: 22px;
    color: #C80000;
    padding: 6px;
  }

  .review-container {
    display: flex;
    justify-content: space-between;
      .review-card {
        // flex-grow: 1;
        background-color: white;
        width: 96%;
        height: 20vh;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        margin-left: 16px;
        margin-right: 16px;
        align-self: center;
        position: relative;
      }
        h1 {

        }

      .review-btn {
        align-self: flex-end !important;
        flex-grow: 3;
        padding: 8px;
        margin-right: 16px;
        position: absolute;
        right: -8px;
        top: 22px;
      }
  }

  #review-button {
    align-self: flex-end;
    padding: 16px;
  }


