<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Our offers</h3>
      <div><%= link_to 'Create a New Avenger', new_avenger_path, class:'btn-red' %></div>
  </div>
    <div class="row">
      <% @avengers.each do |avenger| %>
        <div class="co-12 colsm-6 col-md-4">
          <%= link_to avenger_path(avenger), class:'text-decoration-none' do %>
            <div class="card-index" data-aos="zoom-in">
              <%=avenger.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
