<footer class="site-footer">
  <div>
    <ul class="links-wrapper">
      <li class="icon" aria-hidden="true"><a target=_blank href="#"><i class="fab fa-facebook-square"></i></a></li>
      <li class="icon" aria-hidden="true" target=_blank href="#"><i class="fab fa-twitter-square"></i></li>
      <li class="icon" aria-hidden="true" target=_blank href="#"><i class="fab fa-instagram-square"></i></li>
    </ul>
    <div>
      <nav class="footer-nav" role="navigation">
        <p>Copyright &copy; @avengers. All rights reserved.</p>
      </nav>
    </div>
  </div>
</footer>
