.navbar {
  justify-content: space-between;
  background: white;
  position: -webkit-sticky;
  position: stciky;
  top: 0;
  z-index: 1000;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      }
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.nav-avenger{
  color: white;
  background: #C80000;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.7;
  font-size: 12px;
  overflow: hidden;
  transition: 0.3s;
  font-family: 'Limelight', cursive;
  text-decoration: none;
  height: 40px;
  margin-right: 8px;
}

.nav-avenger:hover {
  background: #bd1e2d;
  color: white;
  text-decoration: none;
}

.nav-log {
  color: black;
  background: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.7;
  font-size: 14px;
  overflow: hidden;
  transition: 0.3s;
  font-family: 'Limelight', cursive;
  text-decoration: none;
  height: 40px;
}

.nav-log:hover {
  text-decoration: none;
  color: silver;
}

// .nav-link {
//   color: white;
//   background: #C80000;
//   padding: 10px 20px;
//   border-radius: 20px;
//   font-weight: lighter;
//   opacity: 0.7;
//   font-size: 12px;
//   overflow: hidden;
//   transition: 0.3s;
//   font-family: 'Limelight', cursive;
//   text-decoration: none;
//   height: 40px;
//   margin-right: 8px;
// }

// .nav-link:hover {
//   text-decoration: none;
//   color: white;
// }



